<div class="container my-3">
<div class="jumbotron">
    <h1 class="display-4">About this Angular App</h1>
    <p class="lead">This is a simple Todo App using Angular Framework. It uses the concepts of routing, component building and loops.<br>
    Furthermore, it uses Bootstrap and jquery to make this application more attractive.
    </p>
    <hr class="my-4">
    <p>Using this application you can add, delete or strikethough the elements or tasks you have to complete or is to be completed.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>